<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:replace="${title}">默认系统名称</title>
    <link rel="stylesheet" th:href="@{/dui/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/dui/css/dui.css}" media="all">
    <link rel="stylesheet" th:href="@{/dui/layui/css/modules/layer/default/layer.css}" media="all">
    <script th:src="@{/dui/layui/layui.js}"></script>
</head>
<body>
</body>
</html>