<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.svenbarnett.dframe.core.mapper.FrameUserMapper">

    <resultMap id="frameUserMap" type="cn.svenbarnett.dframe.domain.FrameUser">
        <id property="rowguid" column="rowguid"/>
        <result property="loginid" column="loginid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="contacts" column="contacts"/>
        <result property="mobile" column="mobile"/>
        <result property="gender" column="gender"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteTime" column="delete_time"/>
        <result property="updater" column="updater"/>
        <collection property="roles" ofType="cn.svenbarnett.dframe.domain.FrameRole">
            <id property="rowguid" column="rowguid"/>
            <result property="roleName" column="role_name"/>
            <result property="status" column="status"/>
            <result property="creator" column="reator"/>
            <result property="updater" column="updater"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
            <result property="deleteTime" column="delete_time"/>
            <collection property="permissions" ofType="cn.svenbarnett.dframe.domain.FramePermission">
                <id property="rowguid" column="rowguid"/>
                <result property="permissionName" column="permission_name"/>
                <result property="uri" column="uri"/>
                <result property="parentguid" column="parentguid"/>
                <result property="type" column="type"/>
                <result property="creator" column="creator"/>
                <result property="updater" column="updater"/>
                <result property="createTime" column="create_time"/>
                <result property="updateTime" column="update_time"/>
                <result property="deleteTime" column="delete_time"/>
            </collection>
        </collection>
    </resultMap>

    <select id="selectAllByLoginid" parameterType="string" resultMap="frameUserMap">
        select *
        from frame_user u
                 inner join frame_user_role ur on u.rowguid = ur.userguid
                 inner join frame_role r on ur.roleguid = r.rowguid
                 inner join frame_role_permission pr on r.rowguid = pr.roleguid
                 inner join frame_permission p on pr.permissionguid = p.rowguid
        where u.loginid = #{loginid}
    </select>

</mapper>